<html>
    <head>
        <title>
            Resume
        </title>
    </head>
    <body>
        <div >
            <form>
                <label>Name</label>
                <input type="text" placeholder="Enter your name" class="">
                <label>Phone Number</label>
                <input type="num" placeholder="Enter your Phone number" class="">
                <label>Email</label>
                <input type="text" placeholder="Enter your Email" class="">
                <label>School</label>
                <input type="text" placeholder="Enter your School" class="">
                <label>Degree</label>
                <input type="text" placeholder="Enter your DEGREE if any" class="">
                <label>University</label>
                <input type="text" placeholder="Enter your University if any" class="">
                <label>Skills</label>
                <input type="text" placeholder="Mention your skills" class="">
                <label>Description about you</label>
                <Textarea placeholder="Describe" class=""></textarea>
                <label>Work Experience </label>
                <textarea placeholder="Pat experience" class=""></textarea>
            </form>
        </div>
    </body>
</html>
